{% extends 'webapp/base.html' %}
{% block body_block %}
{%load static%}






<img id='p' src="{% static "images/mimi.jpg" %}" alt="">
<img id='p' src="{% static "images/mimi2.jpg" %}" alt="">
<img id='p' src="{% static "images/mimi3.jpg" %}" alt="">
<img id='p' src="{% static "images/mimiclose.jpg" %}" alt="">
<img id='p' src="{% static "images/mimiflower.jpg" %}" alt="">
<img id='p' src="{% static "images/mimimanny.jpg" %}" alt="">
<img id='p' src="{% static "images/mimipink.jpg" %}" alt="">
<img id='p' src="{% static "images/mimitoy.jpg" %}" alt="">
<img id='p' src="{% static "images/mimiyawn.jpg" %}" alt="">
<img id='p' src="{% static "images/mimidoor.jpg" %}" alt="">



{% endblock %}
